body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 14%;
    transition: all 0.3s ease;
}

.card-active {
    background-color: #e6f7ff;
    border-color: #007BFF;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card h3 {
    color: black;
}

.card p {
    font-size: 16px;
}

.dict-link {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.grid {
    background: #EEE;
    max-width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

#new-word-input {
    resize: none;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 20px;
}

#add-word-button {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-top: 20px;
    vertical-align: top;
}

#add-word-button:hover {
    background-color: #ddd;
    cursor: pointer;
}

.delete-word-button {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    padding: 5px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
}

.delete-word-button:hover {
    background-color: #ddd;
    cursor: pointer;
}